*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    text-decoration: none;
}
.container{
    max-width: 940px;
    margin: 0 auto;
}
.header{
    background: #FFFFFF;
}
.header-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 11px 0 24px;
}
.header-logo{
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 25px;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #69B9FF;
}
.header-menu{
    display: flex;
    column-gap: 40px;
}
.header-link{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #676770;
    text-decoration: none;
    transition: .8s;
}
.header-link:hover{
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    color: #0082F3;
    transition: .8s;
}
.home{
    background: black url('../image/homebg.png') center/cover no-repeat;
    padding: 184px 0 199px;
    text-align: center;
}
.home-title{
    font-style: normal;
    font-weight: 400;
    font-size: 59px;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 106px;
}
.home-sing-up{
    background: #69B9FF;
    border-radius: 4px;
    padding: 11px 30px 13px;
    border: none;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-right: 20px;
    cursor: pointer;
}
.home-more{
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    padding: 10px 31px 12px;
    background: transparent;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
    cursor: pointer;
}
.what{
    padding: 77px 0 80px;
    text-align: center;
    background: #FFFFFF;
}
.what-content{
    text-align: center;
    padding: 77px 0 80px;
    background: #FFFFFF;
}
.what-title{
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #676770;
}
.what-text{
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #8E8E9C;
    padding: 17px 0 62px;
}
.what-row{
    display: flex;
    column-gap: 20px;
}
.what-block{
    background: #FFFFFF;
    border: 1px solid #DCEBF7;
    border-radius: 5px;
    padding: 36px 16px 23px;
}
.what-block-title{
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 7px;
    text-transform: uppercase;
    color: #676770;
    margin: 19px 0 14px;
}
.what-block-text{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
    text-align: center;
    color: #6A859C;
}
.services{
    background: #192024;
    padding: 77px 0 95px;
}
.services-content{
    text-align: center;
    padding: 0 15px 0;
}
.services-title{
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.services-text{
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #E8E8E8;
    margin: 17px 0 77px;
    padding: 0 15px;
}
.services-row{
    display: flex;
    column-gap: 50px;
}
.services-card{
    width: calc(50% - 25px);
}
.services-card-title{
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 7px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 23px;
}
.services-card-text{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
    color: #FFFFFF;
    margin-bottom: 17px;
    padding: 0 15px;
}
.services-card-btn{
    padding: 10px 31px 12px;
    background: transparent;
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
    cursor: pointer;
}
.tabs{
    background: #FFFFFF;
    padding: 77px 0 90px;
    text-align: center;
}
.tabs-title{
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #676770;
    margin-bottom: 17px;
}
.tabs-text{
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #8E8E9C;
    margin-bottom: 73px;
}
.tabs-buttons-menu{
    display: flex;
    justify-content: center;
    column-gap: 16px;
}
.tabs-btn{
    background: #92A0AD;
    border-radius: 4px;
    border: none;
    padding: 1px 30px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
    cursor: pointer;
    margin-bottom: 52px;
}
.tabs-btn.blue{
    background: #2E80B6;
}
.tabs-sub-title{
    font-style: normal;
    font-weight: 400;
    font-size: 31px;
    line-height: 36px;
    color: #676770;
    margin: 16px 0 14px;
}
.tabs-sub-text{
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 25px;
    color: #6A859C;
}
.footer-links{
    padding: 34px 0 35px;
}
.footer-links-content{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.footer-card{
    width: 33.333%;
    padding: 5px 10px;
}
.footer-card-title{
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #676770;
    margin-bottom: 25px;
}
.footer-card-text{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
    color: #6A859C;
    padding-top: 4px;
}
.footer-card-list{
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    list-style-type: none;
}
.footer-card-list-link{
    padding-bottom: 12px;
    border-bottom: 1px solid #D5D5E0;
}
.footer-card-list-link > a{
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: #668CAD;
}
.footer-sub{
    background: #383838;
    text-align: center;
    padding: 40px 0;
}
.footer-sub-text{
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #9E9E9E;
}