*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

.container{
    max-width: 940px;
    margin: 0 auto;
}

.header{
    background: #FFFFFF;
}

.header-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 11px 0 24px;
}

.header-logo{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 25px;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #69B9FF;
}
.header-menu{
    display: flex;
    column-gap: 40px;
}

.header-link{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #676770;
    text-decoration: none;
    transition: .8s;
}
.header-link:hover{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    color: #0082F3;
    transition: .8s;
}
.home{
    background: black url('../image/homebg.png') center/cover no-repeat;
    padding: 184px 0 199px;
    text-align: center;
}
.home-title{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 59px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 106px;
}
.home-sing-up{
    background: #69B9FF;
    border-radius: 4px;
    padding: 11px 30px 13px;
    border: none;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-right: 20px;
    cursor: pointer;
}
.home-more{
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    padding: 10px 31px 12px;
    background: transparent;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
    cursor: pointer;
}

.what-content{
    text-align: center;
    padding: 77px 0 80px;
    background: #FFFFFF;
}
.what-title{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: 5px;
    margin-bottom: 17px;
    text-transform: uppercase;
    color: #676770;
}
.what-text{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #8E8E9C;
    margin-bottom: 62px;
}
.what-row{
    display: flex;
    column-gap: 20px;
}
.what-block{
    background: #FFFFFF;
    border: 1px solid #DCEBF7;
    border-radius: 5px;
}
.what-block-title{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 7px;
    text-transform: uppercase;
    color: #676770;
}
.what-block-text{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
    text-align: center;
    color: #6A859C;
}
.services{
    background: #192024;
    padding: 77px 0 95px;
}
.services-content{
    text-align: center;
}
.services-title{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 17px;
}
.services-text{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #E8E8E8;
    margin-bottom: 77px;
}
.service-row{
    display: flex;
    column-gap: 50px;
}
.services-card{
    width: calc(50%);
}
.service-img{
    height: 287px;
    background: black url('../image/services1.png') center/cover no-repeat;
    margin-bottom: 20px;
}
.service-img-2{
    height: 287px;
    background: black url('../image/services2.png') center/cover no-repeat;
    margin-bottom: 20px;
}
.services-card-title{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 7px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 23px;
}
.services-card-text{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
    color: #FFFFFF;
    margin-bottom: 17px;
}
.services-card-btn{
    padding: 10px 31px 12px;
    background: transparent;
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
    cursor: pointer;
}
.tabs{
    background: #FFFFFF;
    padding: 77px 0 90px;
    text-align: center;
}
.tabs-title{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #676770;
    margin-bottom: 17px;
}
.tabs-text{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #8E8E9C;
    margin-bottom: 73px;
}
.tabs-btn{
    background: #2E80B6;
    border-radius: 4px;
    border: none;
    padding: 1px 30px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
    cursor: pointer;
    margin-bottom: 52px;
}
.tabs-image{
    background: black url('../image/tabsimg.png') center/cover no-repeat;
    height: 627px;
    margin-bottom: 16px;
}
.tabs-sub-title{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 31px;
    line-height: 36px;
    color: #676770;
    margin-bottom: 14px;
}
.tabs-sub-text{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 25px;
    color: #6A859C;
}
.about{
    background: #FFFFFF;
    padding: 33px 0 40px;
}
.about-content{
    display: flex;
    column-gap: 21px;
}
.about-block{
    width: calc(33.33333%);
}
.about-block-title{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #676770;
    margin-bottom: 25px;
}
.about-block-text{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
    color: #6A859C;
}
.about-links-title{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #676770;
    margin-bottom: 21px;
}
.about-link{
    display: block;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: #668CAD;
    padding-bottom: 11px;
    margin-bottom: 3px;
    border-bottom: 1px solid #D5D5E0;
    text-decoration: none;
}
.about-social-row{
    border-bottom: 1px solid #D5D5E0;
    padding: 6px 0 6px;
}
.about-social-title{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #676770;
    margin-bottom: 21px;
}
.about-social-img{
    width: 19px;
    height: 15px;
    margin-right: 10px;
}
.about-social-link{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: #668CAD;
    text-decoration: none;
}