@font-face {
    font-family: 'Futura LtCn BT';
    src: url('FuturaBT-LightCondensed.eot');
    src: local('Futura LtCn BT Light'), local('FuturaBT-LightCondensed'),
        url('FuturaBT-LightCondensed.eot?#iefix') format('embedded-opentype'),
        url('FuturaBT-LightCondensed.woff2') format('woff2'),
        url('FuturaBT-LightCondensed.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura Bk BT';
    src: url('FuturaBT-Book.eot');
    src: local('Futura Book BT'), local('FuturaBT-Book'),
        url('FuturaBT-Book.eot?#iefix') format('embedded-opentype'),
        url('FuturaBT-Book.woff2') format('woff2'),
        url('FuturaBT-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('Inter-ExtraBold.eot');
    src: local('Inter ExtraBold'), local('Inter-ExtraBold'),
        url('Inter-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('Inter-ExtraBold.woff2') format('woff2'),
        url('Inter-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('Inter-ExtraLight.eot');
    src: local('Inter ExtraLight'), local('Inter-ExtraLight'),
        url('Inter-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('Inter-ExtraLight.woff2') format('woff2'),
        url('Inter-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('Inter-Bold.eot');
    src: local('Inter Bold'), local('Inter-Bold'),
        url('Inter-Bold.eot?#iefix') format('embedded-opentype'),
        url('Inter-Bold.woff2') format('woff2'),
        url('Inter-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('Inter-Black.eot');
    src: local('Inter Black'), local('Inter-Black'),
        url('Inter-Black.eot?#iefix') format('embedded-opentype'),
        url('Inter-Black.woff2') format('woff2'),
        url('Inter-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('Inter-Light.eot');
    src: local('Inter Light'), local('Inter-Light'),
        url('Inter-Light.eot?#iefix') format('embedded-opentype'),
        url('Inter-Light.woff2') format('woff2'),
        url('Inter-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('Inter-Thin.eot');
    src: local('Inter Thin'), local('Inter-Thin'),
        url('Inter-Thin.eot?#iefix') format('embedded-opentype'),
        url('Inter-Thin.woff2') format('woff2'),
        url('Inter-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('Inter-SemiBold.eot');
    src: local('Inter SemiBold'), local('Inter-SemiBold'),
        url('Inter-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('Inter-SemiBold.woff2') format('woff2'),
        url('Inter-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('Inter-Regular.eot');
    src: local('Inter Regular'), local('Inter-Regular'),
        url('Inter-Regular.eot?#iefix') format('embedded-opentype'),
        url('Inter-Regular.woff2') format('woff2'),
        url('Inter-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('Inter-Medium.eot');
    src: local('Inter Medium'), local('Inter-Medium'),
        url('Inter-Medium.eot?#iefix') format('embedded-opentype'),
        url('Inter-Medium.woff2') format('woff2'),
        url('Inter-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}






// @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');


// font-family: 'Inter', sans-serif;