@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700;900&family=Jost:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Montserrat:wght@300;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  background: #302c42;
  color: #ffffff;
}

html {
  overflow-x: hidden;
}

button {
  border: none;
  cursor: pointer;
}

ul,
ol {
  list-style-type: none;
}

.container {
  width: 1370px;
  padding: 0 40px 0 20px;
  margin: 0 auto;
}

.btn-small {
  background: linear-gradient(90deg, #8176af 0%, #c0b7e8 100%);
  border-radius: 40px;
  padding: 17px 38px;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  color: #343045;
}

.btn-medium {
  background: linear-gradient(90deg, #8176af 0%, #c0b7e8 100%);
  border-radius: 40px;
  font-weight: 700;
  font-size: 12px;
  color: #343045;
  padding: 17px 40px;
}

.title {
  font-weight: 700;
  font-size: 36px;
  color: #ffffff;
  text-transform: uppercase;
}

.subtitle {
  font-weight: 300;
  font-size: 36px;
  color: #ffffff;
  text-transform: uppercase;
}

.desc {
  line-height: 30px;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
}

.header {
  padding: 50px 0 0;
}
.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  display: flex;
  align-items: center;
  -moz-column-gap: 15px;
       column-gap: 15px;
}
.header__menu {
  display: flex;
  -moz-column-gap: 41px;
       column-gap: 41px;
}
.header__menu-link {
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  color: #ffffff;
}
.header__btns {
  display: flex;
  -moz-column-gap: 38px;
       column-gap: 38px;
}
.header__contact {
  border: 2px solid #ffffff;
  border-radius: 40px;
  padding: 15px 32px;
  font-weight: 700;
  font-size: 12px;
  color: #ffffff;
}

.home {
  padding: 60px 0 0;
  -ms-overflow-style: none;
}
.home__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.home__text {
  max-width: 40%;
  position: relative;
}
.home__text::before {
  content: url("../../images/home/left-line.svg");
  position: absolute;
  left: -90px;
  top: -30px;
}
.home__title {
  font-weight: 700;
  font-size: 46px;
  line-height: 56px;
  margin-bottom: 36px;
}
.home__title-color {
  background: linear-gradient(91.57deg, #c0b7e8 -1.02%, #8176af 36.25%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-weight: 700;
  font-size: 46px;
  line-height: 56px;
}
.home__desc {
  margin-bottom: 66px;
}
.home__banner {
  width: 40%;
  background: rgba(0, 0, 0, 0.13);
  padding: 17px;
  position: relative;
  z-index: 5;
  border-radius: 100px 100px 100px 240px;
}
.home__banner::before {
  content: url("../../images/home/lines.svg");
  z-index: -1;
  opacity: 0.8;
  position: absolute;
  bottom: 50%;
  right: 52%;
  transform: translate(50%, 50%);
}
.home__img {
  border-radius: 100px 100px 100px 240px;
  width: 100%;
}
.home__btn-arrow {
  position: relative;
}
.home__btn-arrow::after {
  content: url("../../images/home/arrow.svg");
  position: absolute;
  right: -86px;
  top: 5px;
}