* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
}

html {
  overflow-x: hidden;
}

button {
  border: none;
  cursor: pointer;
}

ul,
ol {
  list-style-type: none;
}