@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
}

button {
  border: none;
  cursor: pointer;
  outline: none;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

@keyframes jump {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
body {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

.btn240 {
  padding: 24px 40px;
  background: #ff553e;
  border-radius: 40px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #fff;
}

.header {
  background: #FFF8F2;
  z-index: 5;
  position: relative;
}
.header .container {
  padding: 50px 0 0px;
  display: flex;
  -moz-column-gap: 141px;
       column-gap: 141px;
  align-items: center;
}
.header__logo {
  margin-right: auto;
}
.header__nav {
  display: flex;
  -moz-column-gap: 48px;
       column-gap: 48px;
}
.header__link {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #1c0e0d;
}
.header__user {
  display: flex;
  -moz-column-gap: 36px;
       column-gap: 36px;
  align-items: center;
}
.header__login {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #ff553e;
}
.header__sing-up {
  padding: 16px 32px;
  background: #ff553e;
  border-radius: 34px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
}
.header__sing-up:hover {
  background: #ffc7bf;
}

.collab {
  background: #fff8f2;
  position: relative;
}
.collab .container {
  padding: 150px 0 0;
  width: 800px;
  text-align: center;
  z-index: 5;
  position: relative;
}
.collab__title {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 90px;
  color: #1c0e0d;
  margin-bottom: 24px;
}
.collab__desc {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 36px;
  color: rgba(64, 32, 30, 0.5019607843);
  margin-bottom: 68px;
}
.collab .btn240:hover {
  background: #ffc7bf;
}
.collab__alarm {
  position: absolute;
  top: 105px;
  left: -150px;
}
.collab__phone-left {
  position: absolute;
  top: 45%;
  left: -50%;
  transition: 0.3s;
}
.collab__phone-left img {
  width: 75%;
  animation: infinite 4s jump;
}
.collab__phone-left:hover {
  transform: scale(1.1);
}
.collab__phone-right {
  position: absolute;
  top: 215px;
  right: -44%;
  width: 62%;
  height: 50%;
}
.collab__phone-right img {
  width: 75%;
}
.collab__bottom {
  z-index: 5;
  position: relative;
  margin-top: 182px;
  background: #fff;
  -webkit-clip-path: polygon(0 0, 75% 0, 83% 100%, 0% 100%);
          clip-path: polygon(0 0, 75% 0, 83% 100%, 0% 100%);
}
.collab__bottom .wrapper {
  padding: 0 350px;
  display: flex;
  align-items: center;
  -moz-column-gap: 180px;
       column-gap: 180px;
}
.collab__rocket {
  display: none;
}
.collab__stats-item {
  margin: 20px 0 20px;
}
.collab__stats-title {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 64px;
  color: #18063c;
}
.collab__stats-desc {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  color: rgba(64, 64, 64, 0.3764705882);
}
.collab__decor {
  position: absolute;
  top: 0;
  left: 100px;
  right: 0;
}
.collab__decor img {
  width: 100%;
}
.collab__decor375 {
  display: none;
}

/*мобильное вёрстка*/
/*desktop вёрстка*/
@media (max-width: 376px) {
  .header {
    display: none;
  }
  .collab .container {
    padding: 144px 0 80px;
    text-align: left;
    max-width: 290px;
  }
  .collab__title {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 160%;
    color: #1c0e0d;
    margin-bottom: 10px;
  }
  .collab__desc {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 36px;
    color: #40201e;
    margin-bottom: 50px;
    max-width: 95%;
  }
  .collab__alarm {
    top: 110px;
    left: 215px;
    right: 0;
    width: 27%;
  }
  .collab__phone-right, .collab__phone-left {
    display: none;
  }
  .collab__decor {
    display: none;
  }
  .collab__decor375 {
    display: block;
    position: absolute;
    top: 120px;
    left: 0;
    bottom: 0;
    right: 0;
  }
  .collab__bottom {
    width: 375px;
    -webkit-clip-path: none;
            clip-path: none;
    position: relative;
    margin: 0;
  }
  .collab__bottom .wrapper {
    padding: 55px 0 40px;
    flex-direction: column;
  }
  .collab__rocket {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
  }
  .collab__stats-item {
    text-align: center;
    width: 180px;
    border-bottom: 2px solid rgba(30, 12, 62, 0.1254901961);
  }
  .collab__stats-item:last-child {
    border: none;
  }
  .collab__stats-title {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 64px;
    color: #18063c;
    margin-bottom: 40px;
  }
  .collab__stats-desc {
    margin-bottom: 50px;
  }
}