@charset "UTF-8";
@font-face {
  font-family: "Futura LtCn BT";
  src: url("FuturaBT-LightCondensed.eot");
  src: local("Futura LtCn BT Light"), local("FuturaBT-LightCondensed"), url("FuturaBT-LightCondensed.eot?#iefix") format("embedded-opentype"), url("FuturaBT-LightCondensed.woff2") format("woff2"), url("FuturaBT-LightCondensed.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Futura Bk BT";
  src: url("FuturaBT-Book.eot");
  src: local("Futura Book BT"), local("FuturaBT-Book"), url("FuturaBT-Book.eot?#iefix") format("embedded-opentype"), url("FuturaBT-Book.woff2") format("woff2"), url("FuturaBT-Book.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("Inter-ExtraBold.eot");
  src: local("Inter ExtraBold"), local("Inter-ExtraBold"), url("Inter-ExtraBold.eot?#iefix") format("embedded-opentype"), url("Inter-ExtraBold.woff2") format("woff2"), url("Inter-ExtraBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("Inter-ExtraLight.eot");
  src: local("Inter ExtraLight"), local("Inter-ExtraLight"), url("Inter-ExtraLight.eot?#iefix") format("embedded-opentype"), url("Inter-ExtraLight.woff2") format("woff2"), url("Inter-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("Inter-Bold.eot");
  src: local("Inter Bold"), local("Inter-Bold"), url("Inter-Bold.eot?#iefix") format("embedded-opentype"), url("Inter-Bold.woff2") format("woff2"), url("Inter-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("Inter-Black.eot");
  src: local("Inter Black"), local("Inter-Black"), url("Inter-Black.eot?#iefix") format("embedded-opentype"), url("Inter-Black.woff2") format("woff2"), url("Inter-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("Inter-Light.eot");
  src: local("Inter Light"), local("Inter-Light"), url("Inter-Light.eot?#iefix") format("embedded-opentype"), url("Inter-Light.woff2") format("woff2"), url("Inter-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("Inter-Thin.eot");
  src: local("Inter Thin"), local("Inter-Thin"), url("Inter-Thin.eot?#iefix") format("embedded-opentype"), url("Inter-Thin.woff2") format("woff2"), url("Inter-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("Inter-SemiBold.eot");
  src: local("Inter SemiBold"), local("Inter-SemiBold"), url("Inter-SemiBold.eot?#iefix") format("embedded-opentype"), url("Inter-SemiBold.woff2") format("woff2"), url("Inter-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("Inter-Regular.eot");
  src: local("Inter Regular"), local("Inter-Regular"), url("Inter-Regular.eot?#iefix") format("embedded-opentype"), url("Inter-Regular.woff2") format("woff2"), url("Inter-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("Inter-Medium.eot");
  src: local("Inter Medium"), local("Inter-Medium"), url("Inter-Medium.eot?#iefix") format("embedded-opentype"), url("Inter-Medium.woff2") format("woff2"), url("Inter-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  border: none;
  cursor: pointer;
  outline: none;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

* {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  font-family: "Futura Bk BT", sans-serif;
}

body {
  background: #000;
  color: #fff;
}

.container {
  max-width: 1420px;
  margin: 0 auto;
}

.header {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  padding: 33px 0;
}
.header__nav {
  display: flex;
  justify-content: space-between;
}
.header__nav img {
  cursor: pointer;
}
.header__left {
  display: flex;
  align-items: center;
  -moz-column-gap: 32px;
       column-gap: 32px;
}
.header__left img {
  cursor: pointer;
}
.header__link {
  position: relative;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #ffffff;
}
.header__link::before {
  content: "";
  position: absolute;
  height: 3px;
  width: 0%;
  right: 0;
  background: #ffffff;
  bottom: -7px;
  transition: 0.5s;
}
.header__link:hover::before {
  left: 0;
  width: 100%;
}
.header__right {
  display: flex;
  width: 25%;
  justify-content: flex-end;
  -moz-column-gap: 48px;
       column-gap: 48px;
}
.header__right img {
  width: 24px;
  cursor: pointer;
}

/*мобильное вёрстка*/
/*desktop вёрстка*/
.home {
  background: url("../../images/home/bg.png") center/cover no-repeat;
  padding: 200px 0 368px;
}
.home__content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: url("../../images/home/bg-text.png") bottom center/contain no-repeat;
}
.home__title {
  font-family: "Futura Md BT", sans-serif;
  font-style: italic;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: 0.16em;
}
.home__details {
  display: flex;
  padding-right: 50px;
  margin: 43px 0 35px;
  justify-content: space-between;
  align-items: center;
}
.home__price {
  font-family: "Futura Hv BT", sans-serif;
  font-size: 36px;
  line-height: 36px;
  color: #ffffff;
}
.home__details-right {
  display: flex;
  align-items: center;
}
.home__size {
  line-height: 19px;
  margin-right: 20px;
}
.home__shop {
  margin-left: 50px;
  cursor: pointer;
}
.home__size-select {
  background: transparent;
  border: none;
  outline: none;
  font-size: 36px;
  line-height: 43px;
  color: #fff;
  cursor: pointer;
}
.home__btn {
  padding: 10px 15px;
  display: flex;
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
  border: 1px solid #ffffff;
  border-radius: 36px;
  background: transparent;
  font-family: "Futura Bk BT", sans-serif;
  font-size: 12px;
  color: #ffffff;
}