*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1000px;
    margin: 0 auto;
}
.header-nav{
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.header-logo{
    padding: 15px;
    width: 220px;
    background: #87adae;
    text-align: center;
}
.header-menu{
    display: flex;
    column-gap: 1px;
}
.header-link{
    background: #007FB2;
    padding: 15px 30px;
    color: white;
    text-decoration: none;
}
.preview-img{
    background: url('image/img.png') center/cover no-repeat;
    height: 400px;
    margin-bottom: 15px;
}
.blocks-row{
    margin-top: 15px;
    display: flex;
    column-gap: 20px;
}
.blocks-image{
    background: url('image/img_1.png') center/cover no-repeat;
    height: 250px;
}

.blocks-item{
    width: 33.33333%;
    height: 200px;
    padding: 5px 0;
}

.blocks-item-title{
    margin-bottom: 10px;
}