*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 940px;
    margin: 0 auto;
}

.header{
    background: #222222;
    padding: 30px 0;
}

.header-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-title{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    color: #FFFFFF;
}

.header-menu{
    display: flex;
    column-gap: 40px;
}

.header-link{
    ont-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 17px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #999999;
    text-decoration: none;
    transition: .5s;
}

.header-link:hover{
    color: #00D6B4;
    transition: .5s;
}

.home{
    padding: 226px 0 140px;
    text-align: center;
    background: #222222 url('../images/home-bg.png') center/cover no-repeat;
}

.home-title{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 53px;
    color: #FFFFFF;
    margin-bottom: 29px;
}

.home-btn{
    border: 1px solid #00D6B4;
    border-radius: 3px;
    padding: 10px 26px;
    background: transparent;
    cursor: pointer;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 19px;
    text-transform: uppercase;
    color: #00D6B4;

}

.works{
    background: #222222;
    padding: 49px 0 101px;
}

.works-title{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 33px;
}

.works-images{
    display: flex;
    column-gap: 20px;
    row-gap: 20px;
    flex-wrap: wrap;
}

.works-img{
    width: calc(33.33333% - 13.33333px);
}

.footer{
    background: #222222;
    padding: 35px 0 37px;
    text-align: center;
}

.footer-title{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    color: #C2C2C2;
    margin-bottom: 10px;
}

.footer-text{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #999999;
}