.church {
  padding: 128px 0;
  background: url("../images/1683712794.png") center/cover no-repeat;
}
.church__subtitle {
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
}
.church__title {
  font-weight: 700;
  font-size: 64px;
  line-height: 82px;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #ffffff;
  margin: 16px 0 32px;
}
.church__end {
  position: relative;
  left: 30px;
  margin-top: 64px;
  line-height: 24px;
  color: #ffffff;
}
.church__end::before{
  content: '';
  width: 18px;
  height: 2px;
  background: var(--beige);
  position: absolute;
  top: 12px;
  left: -30px;
}