.header {
    background: #0D0D0D;
    padding: 12px 0;
}
.header__nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__left{
    display: flex;
    column-gap: 128px;
    align-items: center;
}
.header__title{
    position: relative;
}
.header__title::after{
    content: '';
    position: absolute;
    border: 1px solid #FFFFFF90;
    height: 80px;
    top: -23px;
    right: -64px;
}
.header__menu{
    display: flex;
    column-gap: 48px;
}
.header__link{
    text-transform: uppercase;
    color: #FFFFFF90;
}