.header {
  background: #FFF8F2;
  z-index: 5;
  position: relative;
  .container {
    padding: 50px 0 0px;
    display: flex;
    column-gap: 141px;
    align-items: center;
  }
  &__logo {
    margin-right: auto;
  }
  &__nav {
    display: flex;
    column-gap: 48px;
  }
  &__link {
    @include text($popins, normal, 400, 18px, 24px, #1c0e0d);
  }
  &__user {
    display: flex;
    column-gap: 36px;
    align-items: center;
  }
  &__login {
    @include text($popins, normal, 500, 18px, 28px, #ff553e);
  }
  &__sing-up {
    padding: 16px 32px;
    background: #ff553e;
    border-radius: 34px;
    @include text($popins, normal, 500, 18px, 28px, #ffffff);
    &:hover{
      background: #ffc7bf;
    }
  }
}
